$material-light: (
  'background': #002419,
);
$material-dark: (
  'background': #2a2a2c,
);
$font-size-root: 14px;

$data-table-regular-header-height: 32px !default;
$data-table-regular-row-height: 32px !default;
$pagination-navigation-margin: 0 10px;
